@import "tailwindcss";

@theme {
  --font-sans: var(--font-avant-garde), ui-sans-serif, system-ui;
  
  --color-onca-laranja: #f6b436;
  --color-onca-laranja-escuro: #f28b00;
  --color-onca-preto: #000000;
}

:root {
  --background: #ffffff;
  --foreground: #000000;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-avant-garde), sans-serif;
}